body {
    background-color: #222222;
}

* {
    color: #880000;
}

p {
    color: white;
}

.predicted-age-visible {
    visibility: visible;
}

.predicted-age-hidden {
    visibility: hidden;
}

input {
    background-color: #444444;
    color: #999999;
}